@charset "UTF-8";
@font-face {
  font-family: TDVolshebstvo;
  font-display: swap;
  src: url("../fonts/TDVolshebstvo.woff2") format("woff2"), url("../fonts/TDVolshebstvo.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Сбрасываем отступы, поля и боковую прокрутку */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Убираем списоковые стили у ul и ol */
ul, ol {
  list-style: none;
}

/* Убираем стандартные стили у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Сбрасываем базовые стили шрифтов */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

/* Сбрасываем стили кнопок и input */
button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Убираем стандартные стили у заголовков */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Убираем дополнительные стили у изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.conteiner {
  left: 50%;
  transform: translateX(-50%);
}

.link__button, .link {
  display: flex;
  align-items: center;
}

.control-catalog {
  display: flex;
  justify-content: center;
}

.text-img-box, .advantages, .block2, .arrow, .block1 .text-title, .block1, .conteiner > .control-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__button {
  font-family: "TDVolshebstvo";
  font-size: 1.5em;
  color: #595959;
}

/*TODO home/block1 Анимация логотип крутится  */
@keyframes img-logo-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes img-logo-rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*TODO home/block1 Ковровый балдёж scale */
@keyframes img-logo-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*TODO home/block1 стрелака в низ указатель */
@keyframes arrow-down {
  0% {
    width: 0px;
    opacity: 0%;
    bottom: 10%;
  }
  25% {
    width: 50px;
    opacity: 100%;
  }
  100% {
    bottom: 0%;
  }
}
/*TODO home/block1 текст анимация */
@keyframes text-h1-opacity {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.burger-menu {
  display: none;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: fixed;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}
.burger-menu::after, .burger-menu::before,
.burger-menu span {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 4px;
  border-radius: 20px;
  background-color: #595959;
}
.burger-menu::after {
  top: 10px;
}
.burger-menu::before {
  bottom: 10px;
}
.burger-menu span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu.active span {
  transform: scale(0);
}
.burger-menu.active::before {
  width: 80%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu.active::after {
  width: 80%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 480px) {
  .burger-menu {
    display: flex;
  }
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .burger-menu {
    display: flex;
  }
}

.conteiner {
  position: fixed;
  width: 80%;
  height: auto;
  z-index: 800;
}
.conteiner > .control-menu {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 20px;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  .conteiner > .control-menu {
    background-color: unset;
    box-shadow: none;
    display: inline-flex;
    gap: 15px;
  }
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .conteiner > .control-menu {
    background-color: unset;
    box-shadow: none;
    display: inline-flex;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .conteiner {
    top: 50%;
    left: -60%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  .conteiner.active {
    left: 50%;
  }
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .conteiner {
    top: 50%;
    left: -60%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  .conteiner.active {
    left: 50%;
  }
}

.link {
  height: 40px;
  margin: auto;
  border-radius: 20px;
  transition: all 0.3s ease;
  background: #fff;
}
.link__button {
  height: auto;
  margin: auto;
  padding: 0px 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.link__button:hover {
  color: #fff;
}
.link:hover {
  transform: scale(1.05);
  background: #b28afd;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  .link {
    height: 80px;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  .link__button {
    height: 80px;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .link {
    height: 90px;
    width: 30%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
  .link__button {
    height: 90px;
    width: 100%;
    justify-content: center;
  }
}

.control-catalog {
  display: inline-flex;
  padding-top: 10px;
  gap: 9px;
  position: fixed;
  flex-direction: column;
  width: 200px;
  text-align: center;
  left: -120%;
  z-index: 5;
  transition: all 0.3s ease;
}
.control-catalog .button-size-shadow {
  width: 100%;
  height: auto;
  padding: 3px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .control-catalog .button-size-shadow {
    width: 30%;
  }
}
.control-catalog p {
  font-size: 0.5em;
  margin-right: 7px;
}
.control-catalog.active {
  left: 0%;
}
@media (max-width: 480px) {
  .control-catalog {
    width: 100%;
  }
  .control-catalog.active {
    left: 135%;
  }
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .control-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .control-catalog.active {
    left: 135%;
  }
}

.test {
  background: rgb(248, 231, 153);
  height: 500px;
}

.block1 {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transition: all ease;
  background: radial-gradient(circle, #d2c29a, #9f8e77);
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .block1 {
    flex-direction: row;
  }
}
.block1 .block1__img {
  display: flex;
  width: 100%;
  height: 85%;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.block1 .text-title {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 12%;
  flex-wrap: wrap;
  overflow: hidden;
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .block1 .text-title {
    bottom: unset;
    position: unset;
    overflow: unset;
  }
}
.block1 .text-title h1 {
  text-align: center;
  font-family: "TDVolshebstvo";
  color: #595959;
  font-size: 2.625em;
  transition: all ease-in-out;
  animation-name: text-h1-opacity;
  animation-duration: 3s;
}
@media (max-width: 1200px) {
  .block1 .text-title h1 {
    font-size: 2.125em;
  }
}
@media (max-width: 768px) {
  .block1 .text-title h1 {
    font-size: 1.5em;
  }
}
.block1 .block1__logo-animation {
  animation-name: img-logo-rotate;
  animation-iteration-count: infinite;
  position: absolute;
  top: 10%;
  max-height: 70%;
  overflow: hidden;
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .block1 .block1__logo-animation {
    left: 10%;
  }
}
.block1 .block1__logo-animation:nth-of-type(1) {
  animation-duration: 40s;
}
.block1 .block1__logo-animation:nth-of-type(2) {
  animation-duration: 55s;
}
.block1 .block1__logo-animation:nth-of-type(3) {
  animation-name: img-logo-rotate-left;
  animation-duration: 35s;
}
.block1 .block1__logo-animation:nth-of-type(4) {
  animation-name: img-logo-scale;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

.arrow {
  width: 50px;
}
.arrow .arrow__down {
  position: absolute;
  width: 50px;
  animation-name: arrow-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media (max-width: 1024px) and (min-aspect-ratio: 3/2) {
  .arrow {
    position: absolute;
    align-items: unset;
    bottom: 20px;
    height: 100%;
  }
}

.block2 {
  width: 100%;
  flex-wrap: wrap;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
.block2 .text-h2 {
  width: 100%;
  text-align: center;
  padding-top: 65px;
}
.block2 .text-h2 h2 {
  margin: 0 10px;
  font-size: 2em;
  font-family: "TDVolshebstvo";
  color: #595959;
}

.advantages {
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 65px;
}

.text-img-box {
  flex-wrap: wrap;
  gap: 20px;
  width: 30%;
  min-width: 300px;
}
.text-img-box .text-img-box__img {
  width: 20%;
  min-width: 100px;
}
.text-img-box .text-img-box__text {
  text-align: center;
  width: 70%;
  min-width: 300px;
  color: #595959;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}
.text-img-box .text-img-box__text h3 {
  font-size: 1.25em;
}

.text-img-box__text.size {
  width: 100%;
}

.advantages.margin-bottom {
  margin-bottom: 65px;
}

.footer {
  width: 100%;
  background-color: #595959;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
  gap: 20px;
}
.footer .conteiner-footer {
  display: flex;
  width: 89.5833333333%;
  padding: 50px 0 40px 0;
  margin: auto;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
.footer .conteiner-footer .img-logo-footer {
  width: 170px;
  height: 92px;
}
@media (max-width: 480px) {
  .footer .conteiner-footer {
    gap: 20px;
  }
}

.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-footer .menu-footer__item li {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #E2E2E2;
  font-size: 1em;
  transition: all 0.3s ease;
}
.menu-footer .menu-footer__item li:hover {
  transform: scale(1.1);
  color: #ffc186;
}

.mod-grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}

.conteiner-conect {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.conteiner-conect p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #E2E2E2;
}
.conteiner-conect p:nth-of-type(1) {
  font-size: 1.25em;
}

.conect .conect__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.conect .conect__ul .conect__item-logo {
  border-radius: 50%;
  width: 30px;
}
.conect .conect__ul .conect__item-logo:hover {
  transform: scale(1.1);
  background-color: #8b69fb;
}

.prava p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #E2E2E2;
  font-size: 0.625em;
}